

/* Start:/bitrix/components/bustour/news.list/templates/.default/style.css?1399912013108*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/components/bustour/news.list/templates/.default/style.css?1399912013108 */
