
/* Start:/bitrix/templates/bustour_popup/template_styles.css?1396454212621*/
#wrap {
    width: 100%;
    min-width: 1000px;
    max-width: 2000px;
    padding: 10px 40px 0px 40px;
}

.sidebar {
    width: 200px;
    padding-right: 30px;
    vertical-align: top;
}

.content {
    vertical-align: top;
}

.input-mini {
    width: 60px !important;
}

.input-small {
    width: 90px !important;
}

.input-medium {
    width: 150px !important;
}

.input-large {
    width: 210px !important;
}

.input-xlarge {
    width: 270px !important;
}

.input-xxlarge {
    width: 530px !important;
}

.starrequired {
    color: red;
    font-weight: bold;
}


#footer {
    height: 50px;
    margin-top: 30px;
}
/* End */
